# STM32H743ZI Nucleo board configuration

# Copyright (c) 2019 SEAL AG
# SPDX-License-Identifier: Apache-2.0

config BOARD_NUCLEO_H743ZI
	bool "Nucleo H743ZI Development Board"
	depends on SOC_STM32H743XX
